@charset "UTF-8";

@font-face {
    font-family: IDroid;
    src: url(fonts/idroid.otf);
}
@font-face {
    font-family: fribash;
    src: url(fonts/Fribash.otf);
}
@font-face {
    font-family: bebas neue;
    src: url(fonts/BebasNeue-Regular.ttf);
}
:root {
    /* CORES DO CABEÇALHO */

    --verdedregade1: #a3dfb0;
    --verdedegrade2: #67df9b;
    --verdedegrade3: #39a168;
    --verdedegrade4: #28864b;
}
* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--verdedregade1);

    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-image: linear-gradient(to bottom, var(--verdedregade1), var(--verdedegrade2), var(--verdedegrade3), var(--verdedegrade4));

    font-family: bebas neue;
    font-size: 20pt;
    color: white;
    letter-spacing: 2px;

    text-align: center;
    padding: 40px;
    align-items: center;

    width: auto;
}

header > p {
    font-size: 14pt;
    letter-spacing: 2px;
}
/* MENU */

nav {
    background-color: #28864b;
    padding: 10px;
}
nav > a {
    margin-left: 35px;
    font-size: 13pt;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
/* CONTEÚDO */

main {
    background-color: white;

    display: block;
    margin: auto;
    align-items: center;
    padding: 20px;
    font-family: arial, verdana, sans-serif;
    font-size: 13pt;

    min-width: 300px;
    max-width: 1000px;
}

main > img {
    width: 100%;
}

main > article > h1 {
    font-family: IDroid;
    font-size: 20pt;
    color: var(--verdedegrade4);
    letter-spacing: 2px;
}

main > article > p {
    text-align: center;
    justify-content: center;
    padding: 10px;
}

.subtitulo-2 {
    font-family: IDroid;
    font-size: 15pt;
    color: #0a642b;
    letter-spacing: 2px;
    
    background-color: #a3dfb0;
}

.subtitulo-h2 {
    font-family: IDroid;
    font-size: 15pt;
    color: #0a642b;
    letter-spacing: 2px;
    
    background-color: #a3dfb0;
}

.mascotes-1pq {
    display: block;
    margin-left: auto;
    margin-right: auto;

    max-width: 300px;

}
.mascotes-1 {
    display: block;
    width: 100%;
}
.irina-blok {
    display: block;
    width: 100%;
}
.irina-blokpq {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;

    max-width: 200px;
}

.bugdroid {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 50px;
    padding: 20px;
    height: 220px;
}

.video {
    background-color: #0a642b;
    align-items: center;
    height: 270px;
    margin-bottom: 10px;
}

main > article > aside > h3 {
    background-color: #0a642b;
    color: white;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


/*RODAPÉ*/

footer {
    background-color: #28864b;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 13pt;
    color: azure;
    text-align: center;
    padding: 16px;
    margin-top: 10px;

    letter-spacing: 2px;
}

.insta {
    color: azure;
    font-size: 16pt;
}
