* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: #000000;
    text-align: center;
}

/* fonts */
@font-face {
    font-family: pixel;
    src: url(fonts/PIXEARG_.TTF);
}
@font-face {
    font-family: pixel;
    src: url(fonts/PIXEAB__.TTF);
}
@font-face {
    font-family: rabeca;
    src: url(fonts/Rabeeca.otf);
}
.gif {
    margin-top: 8rem;
}
.alert {
    background-color: rgb(17, 13, 13);
    width: auto;
    margin-top: 10px;
    margin-bottom: 6px;
    padding: 14px;
    font-family: rabeca;
    font-size: 18pt;
    color: antiquewhite;
    font-weight: normal;
    letter-spacing: 1px;
}

button {
    color: antiquewhite;
    margin-top: 6px;
    background-color: rgba(255, 255, 0, 0.644);
    padding: 15px;
    border-radius: 20px;
    border: 0px;
    font-family: pixel;
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px rgba(226, 214, 214, 0.418);

}

footer {

    color: rgb(163, 163, 163);
    font-family: rabeca;
    padding-top: 10px;
    height: 44px;
    background-color: #a4a40005;
}

@media (max-width: 500px) {
    .gif {
        margin-top: 150px;
    }
    .alert {
        margin-top: 30px;
    }
    button {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    footer {
        margin-top: 10px;
    }
}
